.space-btm{
    margin-bottom: 80px;
}
.section-container{
    margin-top: 80px;
    margin-bottom: 80px;
}
.section-container2{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.featured-post{
    width: 80%;
    margin: 0 auto;
    height: 500px;
    background: green;
    margin-bottom: 15px;
    position: relative;
}

.recent-posts{
    margin: 0 auto;
    width: 80%;
    height: 220px;
    background: green;
    padding: 10px;
}

.recent-postsm{
    margin: 0 auto;
    width: 70%;
    height: 1000px;
    background: green;
    padding: 10px;
    display: none;
}

.recent-posts li{
    height: 100%;
    width: calc(100%/4 - 3.2px);
    background: red;
    display: inline-block;
    position: relative;
}

.recent-postsm li{
    height: calc(100%/4 - 10px);
    width: calc(100%/4px);
    background: red;
    position: relative;
    margin-bottom: 10px;
}

.desc-area{
    height: 30%;
    width: 100%;
    background: black;
    margin-top: 65%;
    position: absolute;
    bottom: 0;
}


@media screen and (max-width: 812px) {
    .recent-posts {
        display: none;
    }
    .recent-postsm{
        display: block;
    }

    .featured-post {
        width: 90%;
    }

    .recent-postsm {
        width: 90%;
    }
}

@media screen and (aspect-ratio: 9/16) {
    .recent-posts {
        display: none;
    }
    .recent-postsm{
        display: block;
    }
}